.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: #121215 !important;
}

.admin-main-content {
  flex: 1;
  color: white;
  margin-left: 240px;
  padding: 2rem;
  min-width: 0;
  background-color: #121215 !important;
}
